{% extends 'bs_base.html' %}

{% block title %}Index Page{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

{% endblock %}

{% block before_main %}
<div class="jumbotron" id="jumbo_first">
    <div class="container" style="width: 100%; padding: 0px">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p>adfas</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
             Learn more</a></p>
    </div>
</div>
<div class="jumbotron" id="jumbo_second">
    <div class="container" style="width: 100%; padding: 0px; ">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p>adfas</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
{% endblock %}